<div class="row g-5 mb-5">
  <div>
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="/assets/img/cat_green.png" alt="My friend's cat" width="100%">
      </div>
      <div class="col-md-6">
        <img src="/assets/img/pj1.jpeg" alt="PJ the dog" width="100%">
      </div>
    </div>
        <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="/assets/img/bean.jpeg" alt="Bean the cat" width="100%">
      </div>
      <div class="col-md-6">
        <img src="/assets/img/ringlucky.png" alt="Ring and Lucky" width="100%">
      </div>
    </div>
        <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="/assets/img/zoby.png" alt="Zoe the dog" width="100%">
      </div>
      <div class="col-md-6">
        <img src="/assets/img/ollie.png" alt="Ollie the dog" width="100%">
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="/assets/img/dog.png" alt="Dog" width="100%">
      </div>
      <div class="col-md-6">
        <img src="/assets/img/cat.png" alt="Cat" width="100%">
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="/assets/img/bee.png" alt="Bee" width="100%">
      </div>
      <div class="col-md-6">
        <img src="/assets/img/redsox.png" alt="Red Sox beat Yankees" width="100%">
      </div>
    </div>
  </div>
</div>