<div class="row g-5 mb-5">
  <div>
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="/assets/img/cat_green.png" alt="My friend's cat" width="100%">
      </div>
      <div class="col-md-6">
        <img src="/assets/img/pj1.jpeg" alt="My dog PJ" width="100%">
      </div>
    </div>
        <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="/assets/img/redsox.png" alt="In happier times" width="100%">
      </div>
      <div class="col-md-6">
        <img src="/assets/img/ringlucky.png" alt="My childhood dogs" width="100%">
      </div>
    </div>
        <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="/assets/img/zoby.png" alt="My brother's dog" width="100%">
      </div>
      <div class="col-md-6">
        <img src="/assets/img/ollie.png" alt="My brother's dog" width="100%">
      </div>
    </div>
  </div>
</div>