<div class="row g-5 mb-5">
  <div>
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/cat_green.jpg" alt="My friend's cat" width="100%">
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/pj1.jpg" alt="My dog PJ" width="100%">
      </div>
    </div>
        <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/redsox.jpg" alt="In happier times" width="100%">
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/ringlucky.jpg" alt="My childhood dogs" width="100%">
      </div>
    </div>
        <div class="row g-5 mb-5">
      <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/zoby.jpg" alt="My brother's dog" width="100%">
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/assets/img/ollie.jpg" alt="My brother's dog" width="100%">
      </div>
    </div>
  </div>
</div>